Student: **Syed Qasim Ali Shah**<br/>
Github: **[sqasimali](https://github.com/sqasimali)**<br/>
LinkedIn: **[syedqasimalishah](https://www.linkedin.com/in/syedqasimalishah/)**<br/>
<br/>
**Note:** *I'm learning python by using the book "Python Crash Course by Eric Matthes" and also from some online resources.*<br/><br/>
**Online Resource:** [w3schools.com](https://www.w3schools.com/python/)

### Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"}
thisset

{'apple', 'banana', 'cherry'}

#### Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.<br/>
But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [2]:
print("banana" in thisset)

True

#### Add Items

In [3]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

thisset

{'apple', 'banana', 'cherry', 'orange'}

In [4]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])

thisset

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

#### Length of a Set

In [5]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Remove Item from a Set

If the item to remove does not exist, remove() will raise an error.

In [6]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

thisset

{'apple', 'cherry'}

In [7]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("date")

thisset

KeyError: 'date'

If the item to remove does not exist, discard() will NOT raise an error.

In [8]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")

thisset

{'apple', 'cherry'}

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("date")

thisset

{'apple', 'banana', 'cherry'}

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.<br/>
The return value of the pop() method is the removed item.

In [10]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()

print(x)
print(thisset)

banana
{'cherry', 'apple'}

####  del VS clear()

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.clear() # The clear() method empties the set

print(thisset)

set()

In [12]:
thisset = {"apple", "banana", "cherry"}
del thisset # The del keyword will delete the set completely

print(thisset)

NameError: name 'thisset' is not defined

#### Join Two Sets
Both union() and update() will exclude any duplicate items.

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 'a', 2, 3, 'b'}

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 'a', 2, 3, 'b'}

#### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

#### Set Methods

In [16]:
thisset = {"apply", "banana", "cherry"}
setcopy = thisset.copy()

print(thisset)
print(setcopy)

{'apply', 'cherry', 'banana'}
{'apply', 'cherry', 'banana'}

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) # Return a set that contains the items that only exist in set x, and not in set y

print(z)

{'banana', 'cherry'}

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y) # Remove the items that exist in both sets

print(x)

{'banana', 'cherry'}

In [19]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) # Return a set that contains the items that exist in both set x, and set y

print(z)

{'apple'}

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) # Remove the items that is not present in both x, and set y

print(x)

{'apple'}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) # Return True if no items in set x is present in set y

print(z)

True

In [22]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) # Return True if all items set x are present in set y

print(z)

True

In [23]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) # Return True if all items set y are present in set x

print(z)

True

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
# Return a set that contains all items from both sets, except items that are present in both sets

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
# Remove the items that are present in both sets, AND insert the items that is not present in both sets

print(x)

{'google', 'banana', 'cherry', 'microsoft'}